<footer class="govuk-footer footer" role="contentinfo">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third govuk-!-margin-left-6">
      <p class="govuk-heading-m govuk-!-width-one-half">National Centre for Computing Education</p>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-left-6">
      <ul class="govuk-footer__list ">
        <li class="govuk-footer__list-item">
          <a class="govuk-footer__link" href="/contact">
            Contact
          </a>
        </li>
        <li class="govuk-footer__list-item">
          <a class="govuk-footer__link" href="/privacy">
            Privacy
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
