<footer class="govuk-footer footer" role="contentinfo">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <p class="govuk-heading-m govuk-!-width-two-thirds footer__link--white">National Centre for Computing Education</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <ul class="govuk-footer__list ">
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link footer__link--white" href="/contact">
              Contact
            </a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link footer__link--white" href="/privacy">
              Privacy
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

