<footer class="govuk-footer footer" role="contentinfo">
  <div class="govuk-width-container">
    <div>
      <p>National Centre for Computing Education</p>
    </div>
      <ul class="govuk-footer__inline-list">
        <li class="govuk-footer__inline-list-item">
          <a class="govuk-footer__link footer__link" href="/contact">
            Contact
          </a>
        </li>
        <li class="govuk-footer__inline-list-item">
          <a class="govuk-footer__link footer__link" href="/privacy">
            Privacy
          </a>
        </li>
      </ul>
  </div>
</footer>
