<div class=" ncce-hero">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <h1 class="govuk-heading-xl ncce-hero__heading">Helping you to teach computing</h1>
            </div>
            <div class="govuk-grid-column-two-thirds">
              <p class="govuk-body ncce-hero__body">Our aim is for every child in every school in England to have a world-leading computing education.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--visible">

