<div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Helping you teach computing</h1>
      <p class="govuk-body">The Dorothy Centre aims for every child in every school in England to have a world-leading computing education.</p>
      <p class="govuk-body">To achive this teachers need to feel comfortable teaching computing.</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <img src="assets/images/larry-the-cat.jpg" alt="An image of Larry the cat, Chief Mouser to the Cabinet Office">
    </div>
  </div>
