<div class="ncce-jobs-container">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
       <div class="govuk-grid-column-one-third">
          <img src="/assets/images/you.png" alt="Join our team" class="ncce-jobs__image"/>
       </div>
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l ncce-jobs__heading">Join our team</h2>
          <p class="govuk-body">To run the NCCE, we're looking for people to fill a number of job roles across
          software development, educational content creation and program management:</p>
          <ul class="govuk-list ncce-jobs__list">
            <li class="ncce-jobs__list-item">
              <a href="https://www.bcs.org/category/9091" class="govuk-link ncce-link__on-light">The British Computer Society vacancies</a>
            </li>
            <li class="ncce-jobs__list-item">
              <a href="https://www.stem.org.uk/stem-learning-vacancies" class="govuk-link ncce-link__on-light">STEM Learning vacancies</a>
            </li>
            <li class="ncce-jobs__list-item">
              <a href="https://raspberrypi.workable.com/" class="govuk-link ncce-link__on-light">Raspberry Pi Foundation vacancies</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
