<div class="ncce-jobs-container">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
       <div class="govuk-grid-column-one-third">
          <img src="/assets/images/you.png" alt="Get involved" class="ncce-jobs__image"/>
       </div>
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l ncce-jobs__heading">Get involved</h2>
          <h3 class="govuk-heading-m ncce-jobs__heading">Careers</h3>
          <p class="govuk-body">
            To run the National Centre for Computing Education,
            we’re looking for people to fill a number of job roles across software development,
            educational content creation and programme management:
          </p>
          <ul class="govuk-list ncce-jobs__list">
            <li class="ncce-jobs__list-item">
              Roles in <a href="https://raspberrypi.workable.com" class="govuk-link ncce-link__on-light">Digital Product Development, Computing Education and Programme Management</a> at Raspberry Pi Foundation
            </li>
            <li class="ncce-jobs__list-item">
              Roles in <a href="https://www.stem.org.uk/stem-learning-vacancies" class="govuk-link ncce-link__on-light">Programme and Project Management, Educational Content Development and Support Functions</a> at STEM Learning Limited
            </li>
            <li class="ncce-jobs__list-item">
              Roles in <a href="https://www.bcs.org/category/9091" class="govuk-link ncce-link__on-light">Community Management, Community Outreach and Project Administration</a> at BCS, The Chartered Institute for IT
            </li>
          </ul>
          <h3 class="govuk-heading-m ncce-jobs__heading">Regional Delivery Partners</h3>
          <p class="govuk-body">
            We are now inviting proposals to become one of around 10 Regional Delivery Partners to support the work of the NCCE for the period 7 January 2019 to 31 October 2019. We will decide the final number by the need to provide a geographical spread across England.
          </p>
          <p class="govuk-body">
            Regional Delivery Partners will make sure that teachers can access a suite of relevant, inspiring and effective CPD opportunities, covering practical and theoretical aspects of teaching computing.
          </p>
          <p class="govuk-body">
            You can find the invitation to tender and more details <a href="https://www.stem.org.uk/opportunities-tender" class="govuk-link ncce-link__on-light">here</a>. If you would like to submit a tender, you should send it to <a href="mailto:g.collinson@stem.org.uk" class="govuk-link ncce-link__on-light">g.collinson@stem.org.uk</a> by no later than noon on 7 December 2018.
          </p>
          <h3 class="govuk-heading-m ncce-jobs__heading">School and industry partners</h3>
          <p class="govuk-body">
            We’re also looking for schools and industry partners to help us deliver the aims of the centre.
            If you’d like to find out more about becoming a partner, contact us at <a href="mailto:info@teachcomputing.org" class="govuk-link ncce-link__on-light">info@teachcomputing.org</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
