    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
          The National Centre for Computing Education is funded by the UK Goverment's Department for Education and is run by a consortium of <a href=''>STEM Learning</a>, the <a href=''>Raspberry Pi Foundation</a> and the <a href=''>British Computing Society</a>.
        </p>
      </div>
    </div>
