<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter ncce-offering__panel">
        <p class="govuk-heading-m ncce-offering__heading">Free resources</p>
        <p class="govuk-body">
          Easy access to resources you need for planning and delivering lessons.
        </p>
      </div>
      <div class="govuk-grid-column-one-quarter ncce-offering__panel">
        <p class="govuk-heading-m ncce-offering__heading">Online training</p>
        <p class="govuk-body">
          Free courses and training to give you the skills and confidence to teach the curriculum.
        </p>
      </div>
      <div class="govuk-grid-column-one-quarter ncce-offering__panel">
        <p class="govuk-heading-m ncce-offering__heading">Local hubs</p>
        <p class="govuk-body">
          Connect with local communities so you can share and be supported by other people like you.
        </p>
      </div>
      <div class="govuk-grid-column-one-quarter ncce-offering__panel">
        <p class="govuk-heading-m ncce-offering__heading">Face-to-face training</p>
        <p class="govuk-body">
          Take part in high quality face-to-face CPD at your local hub.
        </p>
      </div>
    </div>
  </div>
</div>
