<div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-one-quarter">
        <h1 class="govuk-heading-m">Free resources</h1>
        <p class="govuk-body">
          Get easy access to resources you need for planning and delivering lessons.
        </p>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <h1 class="govuk-heading-m">Online training</h1>
        <p class="govuk-body">
          Take free courses and training to give you the skills and confidence to teach the curriculum.
        </p>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <h1 class="govuk-heading-m">Local hubs</h1>
        <p class="govuk-body">
          Connect with local communities so you can share and be supported by other people like you.
        </p>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <h1 class="govuk-heading-m">Face-to-face training</h1>
        <p class="govuk-body">
          Take part in high quality face-to-face CPD at your local hub.
        </p>
      </div>
    </div>
