<div class="govuk-width-container">
  <div class="govuk-main-wrapper ncce-training">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l ncce-training__heading">Start training today</h2>
        <div class="govuk-!-width-two-thirds">
          <p class="govuk-body ncce-training__body">
              Start one of our free online courses and begin your journey to accreditation. The progress you make now will count towards upcoming professional certification, launching in 2019.
          </p>
          <p class="govuk-body ncce-training__body">
              To start an online course, enter your email address above and we'll be in touch with the courses you can choose from.
          </p>
        </div>
      </div>
      <div class="govuk-grid-column-full">
        <div class="ncce-training__google">
          <img src="/assets/images/google.png" alt="Google" class="ncce-training__google-logo">
          <p class="govuk-body ncce-training__google-body">Online courses were produced with the generous support of <strong>Google</strong>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
