<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-body govuk-!-margin-bottom-3">
        <p class="govuk-heading-m">Start training today</p>
        <p class="govuk-body govuk-!-width-two-thirds">
            Start one of our free online courses and begin your journey to accreditation. The progress you make now will count towards upcoming professional certification, launching in 2019.
        </p>
      <ul class="govuk-footer__list govuk-footer__list--columns-2">
        <li class="govuk-footer__list-item">
          <a class="govuk-footer__link govuk-heading-s ncce-training__link" href="https://www.futurelearn.com/courses/programming-101">
            Programming 101
          </a>
          <p>An Introduction to Python for Educators</p>
        </li>
        <li class="govuk-footer__list-item">
          <a class="govuk-footer__link govuk-heading-s ncce-training__link" href="https://www.futurelearn.com/courses/block-to-text-based-programming">
            Scratch to Python
          </a>
          <p>Moving from Block- to Text-based Programming</p>
        </li>
        <li class="govuk-footer__list-item">
          <a class="govuk-footer__link govuk-heading-s ncce-training__link" href="https://www.futurelearn.com/courses/object-oriented-principles">
            Object-oriented Programming in Python
          </a>
          <p>Create Your Own Adventure Game</p>
        </li>
        <li class="govuk-footer__list-item">
          <a class="govuk-footer__link govuk-heading-s ncce-training__link" href="https://www.futurelearn.com/courses/how-computers-work">
            How Computers Work
          </a>
          <p>Demystifying Computation</p>
        </li>
      </ul>
      </div>
    </div>
  </div>
</div>
