<div class="govuk-width-container">
  <div class="govuk-main-wrapper ncce-training">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l ncce-training__heading">Start training today</h2>
        <div class="govuk-!-width-two-thirds">
          <h3 class="govuk-heading-s ncce-training__heading">Online courses</h3>
          <p class="govuk-body">
              Start one of our free online courses and begin your journey to accreditation. The progress you make now will count towards upcoming professional certification, launching in 2019.
          </p>
          <p class="govuk-body">
              To start an online course, enter your email address above and we'll be in touch with the courses you can choose from.
          </p>
        </div>
        <div class="govuk-!-width-full">
          <div class="ncce-training__google">
            <img src="/assets/images/google.png" alt="Google" class="ncce-training__google-logo">
            <p class="govuk-body ncce-training__google-body">Online courses were produced with the generous support of <strong>Google</strong>.</p>
          </div>
        </div>
        <div class="govuk-!-width-two-thirds">
          <h3 class="govuk-heading-s ncce-training__heading">Face-to-face training</h3>
          <p class="govuk-body">
            You can book <a href="https://www.stem.org.uk/national-centre-for-computing-education/cs-accelerator-programme" class="govuk-link ncce-link__on-light">face-to-face training</a> for teaching GCSE Computer Science. Courses include <a href="https://www.stem.org.uk/national-centre-for-computing-education/cs-accelerator-programme"  class="govuk-link ncce-link__on-light">python programming, algorithms, data and computer systems and networks and cybersecurity</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
