// import GOV UK design system styles
@import "node_modules/govuk-frontend/all";

// import Bits
@import 'node_modules/raspberry-pi-bits/src/styles/main.scss';

* {
  font-family: Helvetica, sans-serif;
}

$dark-purple: #333448;
$white: #FFFFFF;

#global-cookie-message {
  background-color: #d5e8f3;
  width: 100%;
  padding: 10px 0;

  p {
    margin: auto;
    max-width: 960px;
  }

  .govuk-button {
    display: inline;
  }
}

.cc-dismiss {
  float: right;
}

// import NCCE components
@import 'components/footer';

// import NCCE settings
@import 'settings/_colors';

