#global-cookie-message {
  background-color: #d5e8f3;
  width: 100%;
  padding: 10px 0;

  p {
    margin: auto;
    max-width: 960px;
  }

  .govuk-button {
    display: inline;
  }
}

.cc-dismiss {
  float: right;
}
