#global-cookie-message {
  background-color: #000;
  padding: 10px 0;
  width: 100%;

  p {
    color: #fff;
    margin: auto;
    max-width: 960px;
  }

  a {
    color: #fff;
  }

  .govuk-button {
    display: inline;
  }

  .cc-dismiss {
    color: #de01a5;
    float: right;
  }
}
