.ncce-footer {
  background-color: $ncce-dark-grey;
  padding: 2rem 0;
}

.ncce-footer__heading {
  margin: 0;
}

.ncce-footer__link--white {
  color: $ncce-white !important;
}

.ncce-footer__list {
  @include govuk-media-query($from: tablet) {
    float: right;
  }
}
