.mailing-wrapper {
  display: flex;
  flex-direction: column;
  @include govuk-media-query($from: tablet) {
    flex-direction: row;
  }
}

// .mailing-content,
// .mailing-image {
//   flex-grow: 1;
//   flex-shrink: 1;
// }

.mailing-content {
  background-color: $ncce-purple;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 87%);
  flex-basis: 60%;
  flex-grow: 2;
  flex-shrink: 1;
  height: 240px;

  @include govuk-media-query($from: tablet) {
    clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
  }

  .govuk-button {
    background-color: $ncce-pink;
    box-shadow: 0 2px 0 $ncce-dark-pink;
  }
  .govuk-label {
    color: $ncce-white !important;
    font-weight: bold;
  }
}

.mailing-heading,
.mailing-body {
  color: $ncce-white !important;
}

.mailing-image {
  background-image: url(/assets/images/larry-the-cat2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  flex-basis: 40%;
  flex-grow: 1;
  flex-shrink: 2;
  height: 300px;
  margin-left: -330px;
  margin-top: -50px;
  @include govuk-media-query($from: tablet) {
    margin-top: 0;
  }
}
