.mailing-wrapper {
  background-color: $ncce-purple;
  background-image: none;
  margin: 0;

  @include govuk-media-query($from: tablet) {
    background-image: url(/assets/images/stay-up-to-date2.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: auto;
  }

  .govuk-main-wrapper {
    background-color: $ncce-purple;

    @include govuk-media-query($from: tablet) {
      clip-path: polygon(0% 0%, 50% 0%, 100% 100%, 0% 100%);
    }

    @include govuk-media-query($from: desktop) {
      clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 0% 100%);
    }
  }
}

.mailing-content {
  flex-basis: 80%;
  flex-grow: 2;
  flex-shrink: 1;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;

  .govuk-button {
    background-color: $ncce-pink;
    box-shadow: 0 2px 0 $ncce-dark-pink;
    font-weight: bold;
  }

  .govuk-label {
    color: $ncce-white;
    font-weight: bold;
  }
}

.mailing-heading,
.mailing-body {
  color: $ncce-white;
}
