<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <link rel="stylesheet" href="assets/css/main.css" media="screen" type="text/css">

		<title>{{ metadata.title }}{% if title %} - {{ title }}{% endif %}</title>

    <meta name="description" content="" />
    <meta itemprop="description" content="">

    <meta property="og:site_name" content="" />
    <meta property="og:title" content="" />

    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />

    {% if canonical %}
      <link rel="canonical" href="{{ canonical }}" />
    {% endif %}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta property="og:description" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:image" content="">
    <meta property="og:image" content="">
  </head>
  <body class="js-enabled govuk-template__body">
    <section>
      {{ layoutContent | safe }}
    </section>
    <script src="assets/js/script.js"></script>
    <script>window.GOVUKFrontend.initAll()</script>
  </body>
</html>
