<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <link rel="icon" href='assets/images/favicon.png')} />
    <link rel="stylesheet" href="assets/css/main.css" media="screen" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="canonical" href="https://teachcomputing.org" />

		<title>{{ metadata.title }}{% if title %} {{ title }} {% endif %}</title>

    <meta name="description" content="Providing resources, training and support for teaching Computing in primary and secondary schools and colleges from Key Stage 1 through to A Level" />

    <meta property="og:description" content="Providing resources, training and support for teaching Computing in primary and secondary schools and colleges from Key Stage 1 through to A Level">
    <meta property="og:site_name" content="National Centre for Computing Education" />
    <meta property="og:title" content="National Centre for Computing Education" />
    <meta property="og:url" content="https://teachcomputing.org" />
    <meta property="og:image" content="https://teachcomputing.org/assets/images/social-image.jpg">
    <meta property="og:image:alt" content="Teaching Computing" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://teachcomputing.org">
    <meta name="twitter:title" content="National Centre for Computing Education">
    <meta name="twitter:description" content="Providing resources, training and support for teaching Computing in primary and secondary schools and colleges from Key Stage 1 through to A Level.">
    <meta name="twitter:image" content="https://teachcomputing.org/assets/images/social-image.jpg">
    <meta name="twitter:image:alt" content="Teaching Computing">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-56S5ZR7');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body class="js-enabled govuk-template__body">
    <section>
      {{ layoutContent | safe }}
    </section>
    <script src="assets/js/script.js"></script>
    <script>window.GOVUKFrontend.initAll();</script>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-56S5ZR7"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>
