<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <link rel="stylesheet" href="assets/css/main.css" media="screen" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

		<title>{{ metadata.title }}{% if title %} {{ title }} {% endif %}</title>

    <meta name="description" content="" />
    <meta itemprop="description" content="" />

    <meta property="og:site_name" content="" />
    <meta property="og:title" content="" />
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:image:alt" content="" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
    <meta name="twitter:image:alt" content="">
  </head>
  <body class="js-enabled govuk-template__body">
    <section>
      {{ layoutContent | safe }}
    </section>
    <script src="assets/js/script.js"></script>
    <script>window.GOVUKFrontend.initAll()</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ env.googleAnalyticsApiKey }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ env.googleAnalyticsApiKey }}');
    </script>
  </body>
</html>
