{# {% include "src/_includes/header.njk" %}


{% block content %}
<main class="full-width-site-container">
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Privacy</h1>
    </div>
  </div>
</main>
{% endblock %}

{% include "src/_includes/footer.njk" %} #}

{# ---
title: National Centre for Computing Education
description: Welcome to the National Centre for Computing Education
layout: layouts/base.njk
---

{% include "src/_includes/header.njk" %} #}

<div class="govuk-width-container">
  <p>Privacy</p>
</div>

{# {% include "src/_includes/footer.njk" %} #}





