---
title: National Centre for Computing Education
description: Welcome to the National Centre for Computing Education
layout: layouts/base.njk
---

{% include "src/_includes/header.njk" %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    {% include "src/_includes/hero.njk" %}
    {% include "src/_includes/offering.njk" %}
    {% include "src/_includes/notice.njk" %}
    {% include "src/_includes/training.njk" %}
    {% include "src/_includes/mailing-list.njk" %}
    {% include "src/_includes/jobs.njk" %}
  </main>
</div>

{% include "src/_includes/footer.njk" %}
