---
title: National Centre for Computing Education
description: Welcome to the National Centre for Computing Education
layout: layouts/base.njk
includeInSitemap: true
changeFreq: always
priority: 1
---

{% include "src/_includes/header.njk" %}
{% include "src/_includes/hero.njk" %}
{% include "src/_includes/offering.njk" %}
{% include "src/_includes/notice.njk" %}
{% include "src/_includes/mailing-list.njk" %}
{% include "src/_includes/training.njk" %}
{% include "src/_includes/jobs.njk" %}
{% include "src/_includes/footer.njk" %}
