---
title: Signup Confirmation - National Centre for Computing Education
description: Welcome to the National Centre for Computing Education
layout: layouts/base.njk
permalink: /signup-confirmation.html
includeInSitemap: true
changeFreq: always
priority: 0.5
---
{% include "src/_includes/header.njk" %}

<div class="govuk-width-container">
  <div class="govuk-main-wrapper ncce-wrapper__confirmation">
    <div class="govuk-grid-column">
      <p class="govuk-body"><strong>Thank you!</strong></p>
      <p class="govuk-body">We look forward to sending you the latest information about computing support.</p>
      <p class="govuk-body"><a href="/">Return to the site</a></p>
    </div>
  </div>
</div>

{% include "src/_includes/footer.njk" %}
