$ncce-dark-purple: #333448;
$ncce-purple: #593e8e;
$ncce-white: #fff;
$ncce-blue: #4c43c5;
$ncce-lavender: #e3e2f3;
$ncce-dark-blue: #2839cd;
$ncce-dark-purple: #593e8e;
$ncce-dark-grey: #333448;
$nnce-grey: #a19fc9;
$ncce-pink: #e044a5;
$ncce-dark-pink: #b23586;
