.ncce-link__on-light {
  &:link {
    color: $ncce-blue-link;
  }
  &:hover {
    color: $ncce-pink;
  }
  &:focus {
    background-color: $ncce-grey-x-light;
    color: $ncce-pink;
    outline-color: $ncce-grey-x-light;
  }
  &:active {
    color: $ncce-grey-x-light;
  }
  &:visited {
    color: $ncce-purple;
  }
}

.ncce-link__on-dark {
  &:link {
    color: $ncce-grey-x-light;
  }
  &:hover {
    color: $ncce-white;
  }
  &:focus {
    background-color: $ncce-black;
    color: $ncce-white;
    outline-color: $ncce-black;
  }
  &:active {
    color: $ncce-black;
  }
  &:visited {
    color: $ncce-grey;
  }
}
